<details {{#if ctrf.extra.inputs.folded}}open{{/if}}>
  <summary>Results</summary>
  <table>
    <thead>
      <tr>
        <th><strong>Test Name</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Flaky</strong></th>
        <th><strong>Duration</strong></th>
      </tr>
    </thead>
    <tbody>
      {{#slice ctrf.tests 0 8000}}
      <tr>
        <td>{{name}}</td>
        <td>{{getCtrfEmoji status}}</td>
        <td>{{#if flaky}}{{getCtrfEmoji "flaky"}}{{/if}}</td>
        <td>{{formatDurationMs duration}}</td>
      </tr>
      {{/slice}}
    </tbody>
  </table>
</details>